html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    color:#989898;
    font-weight: 300; 
    line-height: 30px; 
    text-align: left;
}

a,
input[type=submit] {
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

// LINKS
.main-nav__list__link {
    @include font-size(15); /* changed from 12 */
    color:#343434;
    line-height: 65px;
    text-decoration: none;
    text-align: right;
    text-transform: capitalize;
}

.main-nav__list__link:hover {
    color:#fd7070;
    text-decoration: underline;
}

// BUTTONS
.button,
input.submit--1 {
    @include font-size(15); /* changed from 12 */
    font-weight: 700; /* changed from 700 to 500 */
    text-align: center;
    padding: 23px 50px;
    border: 5px solid #fff;
    background: none;
}

input.submit--2{
    @include font-size(12);
    font-weight: 700; 
    color: #ff7070;
    border: 5px solid #ff7070;
    background: none;
    padding: 20px;
}

.button--dark-font{
    color: #343434;
}

.button--light-font{
    color: #fff;
}

// HEADING
.heading--general {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.heading-1 {
    @include font-size(80);/* changed from 80 to 78 */
    color: #343434;
    line-height: 65px; /* changed from 65px to 97px */
    text-align: left;
}

.heading-2 {
    @include font-size(60); /* changed from 60 to 52 */
    line-height: 65px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.heading-2--contrast{
    text-transform: lowercase;
    color: #343434;
}

.heading-3 {
    font-family: 'Open Sans', sans-serif;
    @include font-size(40); /* changed from 40 to 32 */
    line-height: 55px;
}

.heading-4 {
    @include font-size(24); /* changed from 24 to 22 */
    text-align: center;
    margin: 10px auto;
}

// PARAGRAPHS
.paragraph {
    @include font-size(16); /* changed from 16 to 12 */
    line-height: 24px;
    text-align: center;
}

.heading__paragraph {
    @include font-size(20); /* changed from 20 to 18 */
    line-height: 30px;
}
.paragraph--dark {
    color: #242424;
}

.paragraph--left-align {
    text-align: left;
}

// SPECIAL WORDS
.span__heading-1--contrast {
    font-weight: 300;
}

.span__footer--contrast{
    color:#fff;
}

.span--quotation {
    color: #343434;
    @include font-size(60); 
    line-height: 55px; 
    text-transform: none;
    text-align: center;
    display: block;
    position: relative;
}

.span--quotation:before {
    content:"“";
    @include font-size(140);
    color: white;
    position: absolute;
    top: 0px;
    left: -100px;
}

.span--quotation:after {
    content:"”";
    @include font-size(140);
    color: white;  
    position: absolute; 
    top: 0;
    right: -100px;
}

.span--author {
    @include font-size(40); /* changed from 40 to 32 */
    line-height: 55px; /* changed from 55px */
    text-transform: none;
    text-align: center;
    display:block;
}

.span--author:after {
    content:"  -";
    color: white;   
}
.span--author:before {
    content:"-  ";
    color: white;
}

.span__counter {
    font-family: 'Open Sans', sans-serif;
    @include font-size(60);
    color: #343434;
    line-height: 55px;
}

.span__counter--description {
    @include font-size(12);
    color: #343434;
    font-weight: 700;
    line-height: 30px;
    border: 5px solid #fff;
    padding: 23px 40px;
    width: 200px;
    text-transform: uppercase;
}

.section-7__nav--links {
    color: #fff;
    padding: 10px;
}

.section-7__nav--links:hover {
    color: #ff6f6f;;

}
.section-7__figcaption {
    color: #343434;
}

// APPLYING-WHITE
.heading--contrast {
    color: #fff;
}